*
{
    padding:0;
    margin: 0;
}

body
{
    height:115vh;
    background: url(https://pokemongolive.com/img/global/bg.jpg) no-repeat center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    /* min-height: 100vh; */
    font-family: "Lato",sans-serif;
    overflow-x: hidden;
}

main
{
    height:70%;
    /* background-color: grey; */
    margin:0 auto;
    width:100vw;
    overflow-x: hidden;
}

.main-container
{
   height:100%;
   width: 70%;
   margin: 0 auto;
}

.menu-bar
{
    display: flex;
    justify-content: space-between;
    padding:20px;
}

.menu-bar ul
{
    list-style: none;
    padding:25px 0;
}

.menu-bar ul li
{
    display: inline;
    margin:10px;
    font-weight: 600;
    font-size: 15px;
    color:#44696C;
}

.menu-bar ul li a
{
   text-decoration: none;
}

ul li a:visited
{
    color:#44696C;
}

.note-container
{
    background-color: rgba(255,253,245,0.85);
    width: 57.5%;
    height:39%;
    border-radius: 4px;
    opacity: 0.95;
}   

.store
{
    width: 57.5%;
    height:10%;
    margin-top:35px;
    margin-bottom:20px;
}

.btns
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.store .Google-Play
{
    margin:0 16px;
}

.store .Appstore
{
    margin:0 16px;
}

.trailer-container
{
    width: 57.5%;
    height:7%;
}

.trailer-container .btn
{
    margin:0 auto;
    width:35%;
    height:100%;
    border-radius: 50px;
    background:linear-gradient(to right, #24CCAA, #A2DB95);
}

.btn .text
{
    width:100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#ffff;
}

footer
{
    width:100%;
    height:35vh;
    background: linear-gradient(to right, #639d25, #427768);

}

.foot-container .content-1
{
    width:100%;
    height:30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid rgba(255,253,245,0.2);
}   

.content-container
{
    width:70%;
    height:100%;
    margin:0 auto;

    /* background-color: #fff; */
}

.fa
{
    margin:0 10px;
}

.niantic
{
    margin:0 10px;
}

.pokemoncompany
{
    margin:0 10px;
    padding:20px 0;
}
.nintendo
{
    margin:0 10px;
    padding:10px 0;
}

.logos-1
{
    margin:0;
    width:70%;
}

.logos-2
{
}

.foot-container .content-2
{
    width:100%;
    height:30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-2 .textline-1
{
    list-style: none;
    display: flex;
}
