*
{
    padding:0;
    margin: 0;
}

body
{
    height:100vh;
    background: url(https://pokemongolive.com/img/global/bg.jpg) no-repeat center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    /* min-height: 100vh; */
    font-family: "Lato",sans-serif;
}

main
{
    height:80%;
    /* background-color: grey; */
    margin:0 auto;
    width:100vw;
    overflow-x: hidden;
}

.main-container
{
   height:100%;
   width: 70%;
   margin: 0 auto;
}

.menu-bar
{
    display: flex;
    justify-content: space-between;
    padding:20px;
}

.menu-bar ul
{
    list-style: none;
    padding:25px 0;
}

ul li
{
    display: inline;
    margin:10px;
    font-weight: 600;
    font-size: 15px;
    color:#44696C;
}

ul li a
{
   text-decoration: none;
}

ul li a:visited
{
    color:#44696C;
}

.note-container
{
    background-color: rgba(255,253,245,0.85);
    width: 57.5%;
    height:39%;
    border-radius: 4px;
    opacity: 0.95;
}   

.store
{
    width: 57.5%;
    height:10%;
    margin-top:35px;
    margin-bottom:20px;
}

.btns
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.store .Google-Play
{
    margin:0 16px;
}

.store .Appstore
{
    margin:0 16px;
}

.trailer-container
{
    width: 57.5%;
    height:7%;

}

.trailer-container .btn
{
    margin:0 auto;
    width:35%;
    height:100%;
    border-radius: 50px;
    background:linear-gradient(to right, #24CCAA, #A2DB95);

}

.btn .text
{
    width:100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#ffff;
}

footer
{
    /* height:50vh; */
}